<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>BMI Calculator</title>
</head>
<body>
    <h3>BMI Calculator</h3>

    <div class="row outer">
        <div class="col m2"></div>
        <fieldset class="col s12 m4" style="border-radius: 10px;">
            <legend style="font-family: 'Times New Roman', Times, serif;">Enter your Details</legend>
            <form action="/process" method="POST" style="margin-top:10px;">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" type="text" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="weight" type="number" min="0" max="150" required>
                        <label for="weight">Weight (kg)</label>
                    </div>
    
                    <div class="input-field col s12">
                        <input name="height" type="number" min="0" max="250" required>
                        <label for="height">Height (cm)</label>
                    </div>
                    <div class="center">
                        <button class="btn waves-effect waves-light" style="font-family: 'Times New Roman', Times, serif; border-radius: 10px; background-color: cornflowerblue;" type="submit">Submit
                        </button>
                        <button class="btn waves-effect waves-light" style="font-family: 'Times New Roman', Times, serif; border-radius: 10px; background-color: crimson;" type="reset">Reset
                        </button>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset class="col s12 m4" style="border-radius: 10px;">
            <legend style="font-family: 'Times New Roman', Times, serif;">Recent Results</legend>
            <legend class="right"><a href="/delete" class="btn btn-small"><p>X</p></a></legend>
            {% if result %}
                <ul>
                {% for r in result %}
                    <li style="color: snow; font-family: 'Times New Roman', Times, serif; font-size: large;">{{ r.name }} : {{ r.bmi }}</li>
                    <hr>
                {% endfor %}
                </ul>
            {% else %}
                <ul>
                    <li style="color: snow; font-family: 'Times New Roman', Times, serif; font-size: large;">No recent calculations...</li>
                </ul>    
            {% endif %}
        </fieldset>
        <div class="m2"></div>
    </div>

    

</body>

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>